<form mat-form #f="ngForm" class="example-form" (ngSubmit)="onSubmit(f.value)">
    <h1>Produkt hinzufügen</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input type="text" matInput [formControl]="textFormControl"
             placeholder="ameisenbär" ngModel required name="name">
      <mat-error *ngIf="textFormControl.hasError('required')">
        Name ist <strong>erforderlich</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Gewicht</mat-label>
        <input type="number" matInput [formControl]="weightFormControl"
               placeholder="42.00" ngModel required name="weight">
        <mat-error *ngIf="weightFormControl.hasError('required')">
          Gewicht ist <strong>erforderlich</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Preis</mat-label>
        <input type="number" matInput [formControl]="priceFormControl"
               placeholder="69.42" ngModel required name="price">
        <mat-error *ngIf="priceFormControl.hasError('required')">
          Preis ist <strong>erforderlich</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Bildpfad</mat-label>
        <input type="text" matInput placeholder="assets/images/delfin.jpg" required ngModel name="image">
      </mat-form-field >

      <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Produkt erstellen!</button>
  </form>