
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    position: relative;
    top: 20px;
    left: 30px;
  }
  
  .example-full-width {
    width: 100%;
    margin: 7px;
  }