.content {
  position: absolute;
  top: 65px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

.content-mob {
  position: absolute;
  top: 113px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

.example-sidenav-content:first-child {
  margin: 10px 5px 5px 5px;
}

button {
  background: transparent;
  border: none;
  position: relative;
  bottom: 3px;
}

h1 {
  display: inline;
}

a {
  display: block;
  text-align: center;
}

.example-container {
  text-align: center;
}