<div class="home-content">
    <h1>Zeas! Sie befinden sich auf dem offizellen und geilen Ameisbert Shop!</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quidem perferendis quam alias eos. Laborum
        esse nulla ab illum, accusamus, quis eius aliquid, minus provident sunt enim quia. Rem, doloribus?Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Soluta culpa, odio officiis eveniet vero magnam deleniti
        repellendus velit modi ipsa tenetur adipisci quaerat dolorum, aliquid numquam voluptate nulla rerum. <br>Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Quos sunt dolorum rerum assumenda, provident voluptate
        voluptatibus explicabo iste, quam dicta expedita illo doloremque corporis? Dicta, deleniti! Debitis repudiandae
        totam asperiores.</p>

    <h2>Bei Fragen können sie unseren <a href="https://tellonym.me/baumgartner1999">Kundensupport</a> kontaktieren</h2>
</div>