h1, h2{
    margin-top: 1em;
    margin-left: 1em;
}

p {
    margin-left: 2em;

    text-align: center;
    max-width: 700px;
    top: 2em;
    text-align: left;
}

a {
    color: #c2185b;
    text-decoration: none;
}
    