<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center" style="background-image: url('{{product?.image}}')"></div>
      <mat-card-title>{{product?.name}}</mat-card-title>
      <mat-card-subtitle>geiler {{product?.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{product?.image}}"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          Zeas. Dies ist die Beschreibung für das Produkt: {{product?.name}}. <br>
          Ein {{product?.name}} wiegt {{product?.weight}} geile Kilogramm. <br>
          Der Preis beläuft sich auf {{product?.price}} €
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="putInCart()" *ngIf="canAddToCart" mat-raised-button color="primary">In den Warenkorb legen</button>
      <button (click)="deleteFromCart()" type="submit" *ngIf="canRemoveFromCart" mat-raised-button color="warn">Aus dem Warenkorb entfernen</button>
    </mat-card-actions>
  </mat-card>
