<div *ngIf="userIsLoggedIn; else userLoggedIn" class="logout-section">
    <button (click)="logout()" mat-raised-button color="primary">Logout!</button>
</div>

<ng-template #userLoggedIn>

    <form mat-form #f="ngForm" class="example-form" (ngSubmit)="onSubmit()">
        <h1>Login</h1>

        <mat-form-field class="example-full-width">
            <mat-label>Benutzername</mat-label>
            <input type="text" matInput [formControl]="textFormControl" [(ngModel)]="username" placeholder="PGP420"
                ngModel required name="username">
            <mat-error *ngIf="textFormControl.hasError('required')">
                Benutzername ist <strong>erforderlich</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Passwort</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" ngModel required name="password"
                [(ngModel)]="password">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Passwort ist <strong>erforderlich</strong>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Login!</button>
    </form>
</ng-template>