<article>
    <br>
    <h1>Bestellung: {{order?.orderID}}</h1>
    <h3>Benutzer: {{order?.userID}}</h3>
    <h3>{{order?.orderDate}}</h3>
    <mat-drawer-container class="example-container">
        <mat-drawer-content>
            <div class="example-sidenav-content order-example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column"
                fxLayoutAlign="space-evenly center"
                >
                <app-product *ngFor="let product of products" [product]=product></app-product>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
    <hr>
</article>